{% extends 'base.html' %}
{% block content %}
     <div class="container-fluid">
        <div class="row-fluid">
            <h2>Список производителей:</h2>
            <table class="table table-striped table-hover">
                <tbody>
                {% for man in object_list %}
                <tr>
                    <td><a href="">{{ man.shortName }}</a></td>
                    <td>{{ man.headquarters }}</td>
                    <td><a href="{% url 'manufacturer_edit' man.id %}" class="btn btn-warning btn-mini">Изменить</a></td>
                    <td><a href="{% url 'manufacturer_delete' man.id %}"class="btn btn-danger btn-mini">Удалить</a></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}