{% extends 'base.html' %}
{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
        <h2>Список оружия:</h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Тип:</th>
                <th>Название</th>
                <th>В наличии</th>
                <th>Ссылка:</th>
                <th>Производитель</th>
            </tr>
        </thead>
        <tbody>
        {% for wp in object_list %}
        <tr>
            <td>{{ wp.tpe }}</td>
            <td><a href="{% url 'weapon_detail' wp.id %}">{{ wp.shortName }}</a></td>
            <td>{{ wp.in_Stock }}</td>
            <td><a href="{{ wp.source }}">{{ wp.source | truncatechars:25 }}</a></td>
            <td><a href="{% url 'manufacturerItemList' wp.manufacturer.id %}">{{ wp.manufacturer.shortName }}</a></td>
            <td><a href="{% url 'weapon_edit' wp.id %}" class="btn btn-warning btn-mini">Изменить</a>
                <a href="{% url 'weapon_delete' wp.id %}"class="btn btn-danger btn-mini">Удалить</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
        </div>
    </div>
{% endblock content %}